.baskervville {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

form {
    all: unset;
    display: flex;
    flex-direction: column;

}

input[type="submit"] {
    all: unset;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.personalInfo {
    display: flex;
    width: 15%;
}

.bestelling {
    text-align: center;
    width: 15%;
}

label {
    margin-top: 10px;
    margin-bottom: 10px;
}

#collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

#icon {
    align-items: center;
    text-align: center
}

img {
    width: 100px;
    height: 100px;
}

h1 {
    color: black
}

.border {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.systeemInfo {
    color: green;
    font-weight: bolder;
    height: 50px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    font-family: baskervville, serif;
}

.error {
    color: red;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 40px;
}